.navbar-brand, .contact-title{
    font-family: 'Coiny', sans-serif;
}

.nav-link{
    font-family: 'Nunito', sans-serif;
}

.logo-v1-nav{
    width: 7%;
    height: auto;
    position: relative;
    bottom: 6px;
    left: 3px;
}

#navbarText{
    position: absolute;
    right: 20px;
    
}

.img1{
    border-radius: 20px;
}

