@charset "UTF-8";

/* Adding Fonts  */

@font-face {
    font-family: 'Nunito Bold';
    src: url("../fonts/Nunito/Nunito-Bold.ttf");
}

@font-face {
    font-family: 'Nunito Black';
    src: url("../fonts/Nunito/Nunito-Black.ttf");
}

@font-face {
    font-family: "Nunito ExtraBold";
    src: url("../fonts/Nunito/Nunito-ExtraBold.ttf");
}

@font-face {
    font-family: "Coiny";
    src: url("../fonts/Coiny/Coiny-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/OpenSans/OpenSauceSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans Medium";
    src: url("../fonts/OpenSans/OpenSauceSans-Medium.ttf");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans/OpenSauceSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Semi";
    src: url("../fonts/OpenSans/OpenSauceSans-SemiBold.ttf");
}

/* Esto permite que la propiedad sea aplicada a todos los elementos y sub elementos (::after) del documento HTML, border-box permite agregar el padding y el margen dentro de la medida establecida de cada elemento, es decir, la medida queda igual.  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Paleta de Colores */
:root {
    --buttonsColor: #F28482;
    --main-bg-clr: #F8EDED;
    --secondary-bg-clr: #F2D0D2;
    --main-text-clr: #393838;
    --secondary-text-clr: #656464;
    --main-section-bg-clr: #F3F3F3;
}

::selection {
    background-color: var(--secondary-bg-clr);
}

body {
    margin: 0;
    padding: 0;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* -------------- Navbar ---------------- */
header {
    position: absolute;
    z-index: 999;
    width: 100%;
}

.navbar {
    background-color: transparent !important;
}

/* .navbar-custom {
  background-color: var(--main-bg-clr) !important;

} */

.navbar-brand img {
    width: 14rem;
    padding-left: 12%;
}

.navbar-nav li {
    padding: 0 15px;
}

.navbar-nav li a,
.text-btn {
    color: var(--main-text-clr) !important;
    font-family: "Open Sans Semi";
    font-size: 14px;
}

.navbar-nav li a {
    text-align: center;
}

.fa-bars {
    color: var(--main-text-clr);
    font-size: 30px;

}

.navbar-toggler:focus {
    border: 0 !important;
    box-shadow: none !important;
}

.navbar-toggler {
    border: 0 !important;
}

.text-btn,
.text-btn-white {
    text-decoration: none;
}

#btn-register {
    background-color: var(--main-text-clr);
    color: white !important;
    font-size: 14px;
    font-family: "Open Sans Semi";
    padding: 9px 20px;
}

#btn-login {
    color: black;
    border: 2px solid var(--buttonsColor);
    font-size: 14px;
    font-family: "Open Sans Semi";
    padding: 8px 18px;
}

#btn-register:hover {
    background-color: #ea6d6b;
}

#btn-login:hover {
background-color: #f3f1f1;
}

/*------------- Main --------------------*/
main {
    background-color: var(--main-bg-clr) !important;
    padding-top: 100px;
    padding-bottom: 100px;
}

h2 {
    font-family: "Nunito Bold" !important;
    font-size: 300% !important;
}

p {
    font-family: "Nunito Bold" !important;
}

#buttonContact {
    background-color: var(--buttonsColor);
    color: azure;
    width: 50%;
}

#buttonContact:hover{
    background-color: #ea6d6b;
}

.form {
    width: 70%;
}

#imgContact {
    width: 70%;
}

#nameUser, #emailUser, #message {
    background-color: var(--main-bg-clr);
    border: none;
}

.form-div {
    border-bottom: 2px solid black;
}

.form-div:hover {
    border-bottom: 2px solid var(--buttonsColor);

}

.text-form{
    font-size: 130%;
}

.btn{
    margin-top: 5%;
}

.imgC{
    margin: auto;
    width: 600px;
    height: 600px;
    border-radius: 50px;
    object-fit: cover;
}


/* ---------------- Footer --------------------- */
.custom-padding-row {
    padding: 3% 4%;
}

#footer-logo {
    width: 14rem;
}

.a-link {
    text-decoration: none;
    color: #ffffff;
}

.left-container,
.right-container {
    min-height: 230px;
    justify-content: space-between;
}