/* Adding Fonts  */

@font-face {
    font-family: 'Nunito Bold';
    src: url("../fonts/Nunito/Nunito-Bold.ttf");
}

@font-face {
    font-family: 'Nunito Black';
    src: url("../fonts/Nunito/Nunito-Black.ttf");
}

@font-face {
    font-family: "Nunito ExtraBold";
    src: url("../fonts/Nunito/Nunito-ExtraBold.ttf");
}

@font-face {
    font-family: "Coiny";
    src: url("../fonts/Coiny/Coiny-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/OpenSans/OpenSauceSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans Medium";
    src: url("../fonts/OpenSans/OpenSauceSans-Medium.ttf");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans/OpenSauceSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Semi";
    src: url("../fonts/OpenSans/OpenSauceSans-SemiBold.ttf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --main-bg-clr: #F8EDED;
    --secondary-bg-clr: #F2D0D2;
    --main-text-clr: #393838;
    --secondary-text-clr: #656464;
    --main-section-bg-clr: #F3F3F3;
}



/* -------------- Navbar ---------------- */
header {
    position: relative;
    z-index: 999;
    width: 100%;
}

.navbar {
    background-color: transparent !important;
}

/* .navbar-custom {
  background-color: var(--main-bg-clr) !important;

} */

.navbar-brand img {
    width: 14rem;
    padding-left: 12%;
}

.navbar-nav li {
    padding: 0 15px;
}

.navbar-nav li a,
.text-btn {
    color: var(--main-text-clr) !important;
    font-family: "Open Sans Semi";
    font-size: 14px;
}

.navbar-nav li a {
    text-align: center;
}

.fa-bars {
    color: var(--main-text-clr) ;
    font-size: 30px;

}

.navbar-toggler:focus {
    border: 0 !important;
    box-shadow: none !important;
}

.navbar-toggler {
    border: 0 !important;
}

.text-btn,
.text-btn-white {
    text-decoration: none;
}

#btn-register {
    background-color: var(--main-text-clr);
    color: white !important;
    font-size: 14px;
    font-family: "Open Sans Semi";
    padding: 9px 20px;
}

/* ---------------- Main --------------------- */
#carrusel{
    max-width: 300px;
    height: 400px;
    border: 10px solid;
}

.img4,.img-cont{
    flex-shrink: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border: 5px solid blue;
    object-fit: cover;
}




/* ---------------- Footer --------------------- */
.custom-padding-row {
    padding: 3% 4%;
}

#footer-logo {
    width: 14rem;
}

.a-link {
    text-decoration: none;
    color: #ffffff;
}

.left-container,
.right-container {
    min-height: 230px;
    justify-content: space-between;
}

