main{
    margin: 5%;
}

.title-logo, .title-nosotros{
    font-family: 'Coiny', sans-serif;
}

.nav-link {
    font-family: 'Nunito', sans-serif;
}
.logo-v1-nav{
    width: 7%;
    height: auto;
    position: relative;
    bottom: 6px;
    left: 3px;
}
#navbarText{
    position: absolute;
    right: 20px;
    
}
.title{
    display: inline;
}
.title-nosotros{
    display: inline; 
    margin-top: 3%;
    font-size: 120px;
    /* border: 1px solid;  */
}
.quienes-somos, #somos{
    display: flex; 
    margin-top: 3%;
}
.quienes-somos, .mision, .vision{
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Coiny', sans-serif;
    color: #F28482;
    font-size: 50px;
}
.mision, .vision{
    margin-top: 5%;
}
.somos-descripcion{
    font-family: 'Open Sans', sans-serif;
    max-width: 530px; 
    font-size: 25px;
    display: flex;
    margin-top: 5%;
}
#valores{
    font-family: 'Coiny', sans-serif;
    color: #F28482;
    justify-content: center;
    font-size: 50px;
    margin-top: 5%;
}
.valor{
    font-family: 'Nunito', sans-serif;
    color: #486284 ;
}
.valores-img{
    width: 60%;
    height: auto;
    position: relative;
    bottom: 6px;
    left: 3px;
    margin-top: 20%;
}
#perro-caja{
    display: fixed;
    position: relative;
    max-width: 40%; /* La imagen se ajustará al ancho del contenedor */
    height: auto;
    right: 0px;
    bottom: 35px;
}
#nuestro-equipo-title{
    font-family: 'Nunito', sans-serif;
    color: #F28482;
    margin-top: 10%;
    margin-bottom: 5%;
}

/* Card style */
.slide-container{
    border-radius: 25px;
    border: 4px solid #000000;
}
.slide-content{
    background-color: #E9ECE5;
    padding: 2%;
    
}
.card-slide{
    /* background-color: #146de0; */
    padding: 0%;
    border-radius: 10px;
    border: 4px solid #F28482;
}
.card{
    background: rgb(68, 250, 13);
    padding: 5%;
    max-width: 100%;
    border-radius: 50%;
    border: 4px solid #000000;
}
.card-body h5{
    position: relative;
    display: inline;
    /* border: 2px solid red; */
    padding: 10%;
    border-radius: 10px;
    left: -120px;
    top: 20px;
    background-color: rgba(172, 168, 168, 0.3);
}

.linkedin,.github{
    max-width: 5%;
    float: right;
    margin-left: 3%;
}
.card-img-top{
    border-radius: 50%;
}

/* Footer */
#footerId{
    font-family: 'Nunito', sans-serif;
}
.columna1,.columna2{
    padding: 5%;
}
.col1{
    float: left;
}
.col2{
    float: right;
}
.logo-blanco,.fb-logo,.ig-logo,.x-logo{
    width: 8%;
    height: auto;
}
.fb-logo,.ig-logo,.x-logo{
    margin-left: 3%;
    float: right;
}













